In [10]:
import pandas as pd 
tabela = pd.read_excel ("Vendas.xlsx")
tabela = tabela.drop (columns="Código Venda")
display (tabela)

,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...
100994,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204
100995,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080
100996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87
100997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108
100998,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266

In [11]:
tabela = tabela.dropna()
display (tabela.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100999 entries, 0 to 100998
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Data            100999 non-null  datetime64[ns]
 1   ID Loja         100999 non-null  object
 2   Produto         100999 non-null  object
 3   Quantidade      100999 non-null  int64
 4   Valor Unitário  100999 non-null  int64
 5   Valor Final     100999 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 4.6+ MB

None

In [12]:
faturamento = tabela[["ID Loja","Valor Final"]].groupby("ID Loja").sum()
display (faturamento)

                                  Valor Final
ID Loja
Bourbon Shopping SP                   1726110
Center Shopping Uberlândia            1668921
Iguatemi Campinas                     1762419
Iguatemi Esplanada                    1699681
Norte Shopping                        1711968
Novo Shopping Ribeirão Preto          1678225
Palladium Shopping Curitiba           1721120
Parque Dom Pedro Shopping             1631630
Passei das Águas Shopping             1649014
Ribeirão Shopping                     1707122
Rio Mar Recife                        1722766
Rio Mar Shopping Fortaleza            1698430
Salvador Shopping                     1646739
Shopping Barra                        1653103
Shopping Center Interlagos            1640486
Shopping Center Leste Aricanduva      1682870
Shopping Eldorado                     1648111
Shopping Ibirapuera                   1635060
Shopping Iguatemi Fortaleza           1674824
Shopping Midway Mall                  1590441
Shopping Morumbi                      1586444
Shopping Recife                       1624879
Shopping SP Market                    1721763
Shopping União de Osasco              1663770
Shopping Vila Velha                   1731167

In [13]:
qtd_vnd = tabela[["Quantidade","Produto"]].groupby("Produto").sum()
display (qtd_vnd)

                  Quantidade
Produto
Bermuda                 1815
Bermuda Estampa         1726
Bermuda Linho           2024
Bermuda Liso            1756
Bermuda Listrado        1799
...                      ...
Tênis Estampa           1788
Tênis Linho             1832
Tênis Liso              1784
Tênis Listrado          1836
Tênis Xadrez            1775

[120 rows x 1 columns]

In [14]:
data = tabela[["Data","Quantidade"]].groupby("Data").sum()
display (data)

            Quantidade
Data
2019-01-01           4
2019-01-02         605
2019-01-03         620
2019-01-04         598
2019-01-05         632
...                ...
2019-12-22         590
2019-12-23         613
2019-12-24         604
2019-12-25         605
2019-12-26          93

[360 rows x 1 columns]

In [15]:
meta_faturamento = 1700000  # Defina a meta de faturamento aqui

# Verifique se o faturamento de cada loja atingiu a meta
for i, valor_faturamento in faturamento.iterrows():
    if valor_faturamento['Valor Final'] >= meta_faturamento:
        print(f"A loja {i} atingiu a meta de faturamento!")
    else:
        print(f"A loja {i} não atingiu a meta de faturamento.")

A loja Bourbon Shopping SP atingiu a meta de faturamento!
A loja Center Shopping Uberlândia não atingiu a meta de faturamento.
A loja Iguatemi Campinas atingiu a meta de faturamento!
A loja Iguatemi Esplanada não atingiu a meta de faturamento.
A loja Norte Shopping atingiu a meta de faturamento!
A loja Novo Shopping Ribeirão Preto não atingiu a meta de faturamento.
A loja Palladium Shopping Curitiba atingiu a meta de faturamento!
A loja Parque Dom Pedro Shopping não atingiu a meta de faturamento.
A loja Passei das Águas Shopping não atingiu a meta de faturamento.
A loja Ribeirão Shopping atingiu a meta de faturamento!
A loja Rio Mar Recife atingiu a meta de faturamento!
A loja Rio Mar Shopping Fortaleza não atingiu a meta de faturamento.
A loja Salvador Shopping não atingiu a meta de faturamento.
A loja Shopping Barra não atingiu a meta de faturamento.
A loja Shopping Center Interlagos não atingiu a meta de faturamento.
A loja Shopping Center Leste Aricanduva não atingiu a meta de faturamento.
A loja Shopping Eldorado não atingiu a meta de faturamento.
A loja Shopping Ibirapuera não atingiu a meta de faturamento.
A loja Shopping Iguatemi Fortaleza não atingiu a meta de faturamento.
A loja Shopping Midway Mall não atingiu a meta de faturamento.
A loja Shopping Morumbi não atingiu a meta de faturamento.
A loja Shopping Recife não atingiu a meta de faturamento.
A loja Shopping SP Market atingiu a meta de faturamento!
A loja Shopping União de Osasco não atingiu a meta de faturamento.
A loja Shopping Vila Velha atingiu a meta de faturamento!

In [16]:
qtd_loja = tabela[["ID Loja", "Quantidade"]].groupby("ID Loja").sum()
display (qtd_loja)

                                  Quantidade
ID Loja
Bourbon Shopping SP                     8863
Center Shopping Uberlândia              8627
Iguatemi Campinas                       8935
Iguatemi Esplanada                      8580
Norte Shopping                          9014
Novo Shopping Ribeirão Preto            8751
Palladium Shopping Curitiba             9091
Parque Dom Pedro Shopping               8388
Passei das Águas Shopping               8618
Ribeirão Shopping                       8825
Rio Mar Recife                          8863
Rio Mar Shopping Fortaleza              8937
Salvador Shopping                       8698
Shopping Barra                          8638
Shopping Center Interlagos              8675
Shopping Center Leste Aricanduva        8938
Shopping Eldorado                       8719
Shopping Ibirapuera                     8723
Shopping Iguatemi Fortaleza             8629
Shopping Midway Mall                    8206
Shopping Morumbi                        8508
Shopping Recife                         8581
Shopping SP Market                      8927
Shopping União de Osasco                8730
Shopping Vila Velha                     9224

In [18]:
import win32com.client as win32
outlook = win32.Dispatch ("outlook.application")
mail = outlook.CreateItem (0)
mail.to = "lucasallves65@gmail.com"
mail.Subject ="Relatorio de Vendas por lojas."
mail.HTMLBody = f''' 
<p>Prezados,</p>

<p>Segue o Relatorio de Vendas por cada loja.</p>

<p>Faturamento:</p>
{faturamento.to_html(formatters={"Valor Final": "R${:,.2f}".format})}

<p>Quantidade Vendida por Produtos:</p>
{qtd_vnd.to_html()}

<p>Quantidade vendida por datas:</p>
{data.to_html()}

<p>Quantidade de Produtos Vendidos por loja</p>
{qtd_loja.to_html()}

<p>Qualquer duvida estou a disposiçâo</p>
<p>Att...</p>
<p>Lucas</p>
'''
mail.Send()